@use "@fjlaubscher/matter/src/styles/breakpoints";
@use "@fjlaubscher/matter/src/styles/colors";

.container {
  width: 100%;

  label {
    width: 100%;
    text-align: left;
  }

  .link {
    background-color: colors.$primary;
    border: 0;
    color: white;
  }

  @media screen and (min-width: breakpoints.$tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      margin-bottom: 0;
    }

    .link {
      max-width: 12rem;
    }
  }
}
