@use "@fjlaubscher/matter/src/styles/breakpoints";
@use "@fjlaubscher/matter/src/styles/colors";

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$light-surface;
  color: colors.$light-text;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transform: translateY(0);
  transition: 0.2s ease-in-out transform;

  &:hover {
    transform: translateY(-0.125rem);
  }

  svg {
    color: colors.$accent;
  }

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-surface;
    color: colors.$dark-text;
  }
}

.data {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$primary;
    color: colors.$dark-text;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-transform: capitalize;
  }

  p {
    font-size: 0.9rem;
    padding: 0 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .content {
    width: 100%;
    padding: 0 1rem 1rem;
    overflow: hidden;
  }

  .type {
    color: colors.$accent;
  }

  .legend {
    color: darken(colors.$light-text, 25%);
    font-style: italic;

    @media (prefers-color-scheme: dark) {
      color: darken(colors.$dark-text, 25%);
    }
  }
}