@use '@fjlaubscher/matter/src/styles/breakpoints';

.profile {
  p {
    font-size: 0.9rem;
  }

  ul {
    margin: 0;
    font-size: 0.9rem;
    padding-left: 1.5rem;

    .item {
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .subItem {
      list-style: none;
      padding-left: 0.25rem;
      margin-bottom: 0;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  > div {
    width: auto;
  }

  .cost {
    width: auto;
    text-align: right;
  }
}

.tagSection {
  border-top: 0.125rem solid var(--color-light-surface);
  padding-top: 1rem;
  margin: 1rem 0;

  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--color-accent);
  }

  @media (prefers-color-scheme: dark) {
    border-top-color: var(--color-dark-surface);
  }
}
