@use '../../styles/breakpoints';
@use '../../styles/colors';

.button {
  width: 100%;
  max-width: 24rem;
  min-height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  padding: 0.75rem;
  background-color: transparent;
  color: colors.$light-text;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: center;

  &.icon {
    justify-content: space-between;
  }

  &.loading {
    justify-content: center;
    svg {
      margin-left: 0;
    }

    &:disabled {
      background-color: colors.$light-surface;
    }
  }

  &.primary {
    background-color: colors.$primary;
    color: white;

    &.loading:disabled {
      background-color: colors.$primary;
    }
  }

  &.delete {
    background-color: colors.$error-red;
    color: white;
    &.loading:disabled {
      background-color: colors.$light-surface;
    }
  }

  &.link {
    justify-content: flex-start;
    border: 1px solid colors.$accent;
    color: colors.$accent;

    svg:first-child {
      margin-right: 1rem;
    }

    svg:last-child {
      margin-left: 1rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: darken(white, 25%);
  }
}
