@use '@fjlaubscher/matter/src/styles/global';
@use '@fjlaubscher/matter/src/styles/colors';

*::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: colors.$light-background;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-background;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: darken(colors.$light-text, 25%);
  border-radius: 0.5rem;

  @media (prefers-color-scheme: dark) {
    background-color: darken(colors.$dark-text, 25%);
  }
}
