@use '@fjlaubscher/matter/src/styles/global';

table::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-light-surface);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-surface);
  }
}

table::-webkit-scrollbar-thumb {
  background-color: var(--color-light-background);
  border-radius: 0.5rem;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-background);
  }
}

span.kwb,
span.kwbu {
  @apply text-blue-600 dark:text-blue-400 font-semibold;
}
