@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound {
  font-size: 10rem;
  animation: rotation 5s linear infinite;
}