@use "../../styles/breakpoints";
@use "../../styles/colors";

.container {
  background-color: colors.$light-background;
  padding: 0;
  margin-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-background;
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  width: 100%;
}

.tab {
  text-align: center;
  padding: 1rem 0 0.875rem;
  background-color: transparent;
  border: 0;
  color: colors.$accent;
  border-bottom: 0.125rem solid colors.$light-surface;
  text-decoration: none;
  transition: 0.2s ease-in-out border-color, 0.2s ease-in-out color;
  font-size: 0.8125rem;
  cursor: pointer;

  &:last-child {
    border-right: 0;
  }

  &.active {
    border-bottom-color: colors.$accent;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
  }

  @media (min-width: breakpoints.$tablet) {
    font-size: 1rem;
  }
}