@use "@fjlaubscher/matter/src/styles/breakpoints";

.stratagem {
  padding: 0;
  position: relative;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-dark-text);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-transform: capitalize;
  }

  p {
    font-size: 0.9rem;
    padding: 0 1rem;
    margin: 0 0 1rem;
  }

  .type {
    color: var(--color-accent);
  }

  .legend {
    color: darken(#202020, 25%);
    font-style: italic;

    @media (prefers-color-scheme: dark) {
      color: darken(#f0f0f0, 25%);
    }
  }
}
