@use '../../styles/colors';

.progress {
  display: block;
  background-color: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

.value {
  display: inline-block;
  height: 100%;
  width: 25%;
  transform: translateX(-100%);
  animation: 2s linear progress-bar infinite;
  background-color: colors.$accent;
}

@keyframes progress-bar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(400%);
  }
}
