.button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  font-size: 2rem;
  color: white;

  svg {
    transition: 0.2s ease-in-out color, 0.2s ease-in-out fill;
  }
}
