@use '../../styles/breakpoints';
@use '../../styles/colors';

.alert {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);

  .title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  a {
    color: inherit;
  }

  &.info {
    color: colors.$info-blue;
    background-color: lighten(colors.$info-blue, 40%);
    box-shadow: 0 0.125rem 0.125rem 0 rgba(colors.$info-blue, 0.2);

    @media (prefers-color-scheme: dark) {
      color: lighten(colors.$info-blue, 40%);
      background-color: colors.$info-blue;
      box-shadow: 0 0.125rem 0.125rem 0 rgba(colors.$info-blue, 0.2);
    }
  }

  &.warning {
    color: colors.$warning-yellow;
    background-color: lighten(colors.$warning-yellow, 30%);
    box-shadow: 0 0.125rem 0.125rem 0 rgba(colors.$warning-yellow, 0.2);
  }

  &.error {
    color: colors.$error-red;
    background-color: lighten(colors.$error-red, 35%);
    box-shadow: 0 0.125rem 0.125rem 0 rgba(colors.$error-red, 0.2);
  }

  &.tile {
    background-color: white;
    border-left: 0;
  }
}
