@use '@fjlaubscher/matter/src/styles/breakpoints';

.section {
  border-bottom: 0.125rem solid var(--color-light-surface);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .heading {
    margin-bottom: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: var(--color-dark-surface);
  }
}
