@use '../../styles/breakpoints';
@use '../../styles/colors';

.datasheets {
  border-bottom: 0.125rem solid colors.$light-surface;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
  }
}

.role {
  display: flex;
  align-items: center;
  border-bottom: 0.125rem solid colors.$light-surface;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
  }

  img {
    height: 2.5rem;
    margin-right: 0.5rem;
  }
}

.myFaction {
  svg {
    fill: currentColor;
  }
}
