@use "@fjlaubscher/matter/src/styles/breakpoints";
@use "@fjlaubscher/matter/src/styles/colors";

.tabs {
  margin-bottom: 0;
}

.datasheets {
  border-bottom: 0.125rem solid colors.$light-surface;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
  }

  .role {
    display: flex;
    align-items: center;
    border-bottom: 0.125rem solid colors.$light-surface;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  
    @media (prefers-color-scheme: dark) {
      border-bottom-color: colors.$dark-surface;
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
  }
}
