@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.filters {
  display: flex;
  flex-direction: column;
  border-bottom: 0.125rem solid colors.$light-surface;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .controls {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: breakpoints.$tablet) {
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  a {
    margin-top: 1rem;
    color: colors.$accent;
    text-decoration: underline;
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
  }
}
