@use '@fjlaubscher/matter/src/styles/breakpoints';

.filters {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-background);
  border-bottom: 0.125rem solid var(--color-light-surface);
  padding: 1rem 0;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

  .controls {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: breakpoints.$tablet) {
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  a {
    margin-top: 1rem;
    color: var(--color-accent);
    text-decoration: underline;
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-background);
    border-bottom-color: var(--color-dark-surface);
  }
}
