@use '../../styles/breakpoints';
@use '../../styles/colors';

.card {
  margin-bottom: 1rem;
}

.composition {
  font-size: 0.9rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  span {
    font-size: 1.5rem;
    color: colors.$light-text;

    @media (prefers-color-scheme: dark) {
      color: colors.$dark-text;
    }
  }
}

.role {
  display: flex;
  align-items: center;

  img {
    height: 2.5rem;
    margin-right: 0.5rem;
  }
}

.tagSection {
  margin-bottom: 0.5rem;
  
  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}